body{
    margin: 0;
    padding: 0;
}
.wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px 15px;
}
img{
    max-height: 150px;
}
.visible{
    display: block;
}
.invisible{
    display: none;
}